# Michael Prokop's multiple personalities
<mika@grml.org> <github@michael-prokop.at>
<mika@grml.org> <mika@debian.org>
<mika@grml.org> <mprokop@sipwise.com>
<mika@grml.org> <prokop@grml-solutions.com>

Sławomir Bocheński <lkslawek@gmail.com>
Alexander Wirt <formorer@debian.org> <formorer@grml.org>
