Source: jenkins-debian-glue
Section: admin
Priority: extra
Maintainer: Michael Prokop <mika@debian.org>
Build-Depends: debhelper (>= 8.0.0),
               shunit2
Standards-Version: 3.9.3
Homepage: https://github.com/mika/jenkins-debian-glue
Vcs-Git: git://github.com/mika/jenkins-debian-glue.git
Vcs-Browser: https://github.com/mika/jenkins-debian-glue

Package: jenkins-debian-glue
Architecture: all
Depends: cowbuilder,
         devscripts,
         dpkg-dev,
         reprepro,
         sudo,
         ${misc:Depends}
Description: glue scripts for building Debian packages inside Jenkins
 This package provides scripts which should make building Debian
 package inside Jenkins (a Continuous Integration suite) easier.
 .
 It's meant to make Q/A builds of Debian packages inside Jenkins
 as manageable and homogeneous as possible.

Package: jenkins-debian-glue-buildenv-git
Architecture: all
Depends: build-essential,
         git-buildpackage,
         jenkins-debian-glue,
         pristine-tar,
         ${misc:Depends}
Description: virtual package for Git build environment of jenkins-debian-glue
 This virtual package depends on the software packages required
 for using jenkins-debian-glue as standalone build environment
 with Git.

Package: jenkins-debian-glue-buildenv-svn
Architecture: all
Depends: build-essential,
         jenkins-debian-glue,
         subversion-tools,
         xsltproc,
         ${misc:Depends}
Description: virtual package for Subversion build environment of jenkins-debian-glue
 This virtual package depends on the software packages required
 for using jenkins-debian-glue as standalone build environment
 with Subversion.

Package: jenkins-debian-glue-buildenv-slave
Architecture: all
Depends: build-essential,
         jenkins-debian-glue,
         openjdk-6-jre-headless | sun-java6-jre | java-runtime-headless,
         rsync,
         ${misc:Depends}
Description: virtual package for basic build environment of jenkins-debian-glue
 This virtual package depends on the software packages required
 for using jenkins-debian-glue on a slave system inside Jenkins.

Package: jenkins-debian-glue-buildenv-lintian
Architecture: all
Depends: lintian,
         ruby,
         ${misc:Depends}
Description: lintian integration in Jenkins
 This package provides the lintian-junit-report script. The
 script can be used for generating JUnit reports of lintian
 checking Debian packages inside Jenkins jobs.
